/*Formatação na Primeira Section*/
#primeira-section {
    background-color: var(--fundo-ceu-azul);
    overflow: hidden;/*IA*/
}

/*Formatação na Caixa da Primeira Section*/
.box-primeira-section {
    width: 100%;
    height: 45vw;
    position: relative;
    background-color: var(--fundo-ceu-azul);
}

/*Formatação na Caixa de Pesquisa*/
.box-pesquisa {
    width: 40%;
    top: 5vw;
    left: 30vw;
    display: flex;
    position: absolute;
    z-index: 5;
}

.box-pesquisa form {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.box-pesquisa input {
    text-align: center;
    padding: 1vw 20%;
    color: white;
    border: var(--verde-escuro);
    border-radius: 5vw;
    outline: none;
    background-color: var(--verde-escuro);
    background-image: url('/Imagens/Icons/Lupa.png');
    background-size: 7%;
    background-position: center left 1vw;
    background-repeat: no-repeat;
}

.box-pesquisa input::placeholder {
    color: gray;
    text-align: center;
}

/*Formatação na Caixa da Nuvem*/
.box-nuvem {/*IA*/
    position: relative;/*IA*/
    width: 100vw;/*IA*/
    height: 10vw;/*IA*/
}

.box-nuvem img {/*IA*/
    position: absolute;/*IA*/
    top: 50%;/*IA*/
    left: 0;/*IA*/
    transform: translateY(-50%);/*IA*/
    width: 20vw;/*IA*/
    animation: movimento-nuvem 15s linear infinite;/*IA*/
    user-select: none;/*IA*/
}

/*Animação da Nuvem*/
@keyframes movimento-nuvem {/*IA*/
    0% {/*IA*/
        left: 0%;/*IA*/
    }/*IA*/
    100% {/*IA*/
        left: 100%;/*IA*/
    }/*IA*/
}

/*Formatação na Caixa da Montanha*/
.box-montanha {
    width: 100%;
    height: 45vw;
    display: flex;
    position: absolute;
    z-index: 1;
}

.box-montanha img {
    width: 100%;
    user-select: none;
    z-index: 1;
}

/*Formatação na Caixa da Vaca*/
.box-vaca {
    width: 30%;
    height: 30vw;
    position: absolute;
    top: 15vw;
    left: 4vw;
    z-index: 3;
    user-select: none;
}

.box-vaca img {
    width: 100%;
    user-select: none;
    z-index: 3;
}

/*Formatação na Caixa do Porco*/
.box-porco {
    width: 10%;
    height: 10vw;
    position: absolute;
    top: 20vw;
    left: 40vw;
    z-index: 3;
    user-select: none;
}

.box-porco img {
    width: 100%;
    user-select: none;
    z-index: 3;
}

/*Formatação na Caixa da Galinha*/
.box-galinha {
    width: 25%;
    height: 25vw;
    position: absolute;
    top: 9vw;
    right: 5vw;
    z-index: 3;
    user-select: none;
}

.box-galinha img {
    width: 100%;
    user-select: none;
    z-index: 3;
}
